@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Rehber Ekle</h1>
<div class="container">
    <form method="post">
        <div>
            <label>Ad Soyad</label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" style="color:red;"></span>
        </div>
        <div>
            <label>İçerik</label>
            <input type="text" class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label>Resim</label>
            <input type="text" class="form-control" asp-for="Image" />
            <span asp-validation-for="Image"></span>
        </div>
        <button class="btn btn-outline-success">Ekle</button>

    </form>
</div>