@model EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Rol Güncelle</h1>
    <br />
    <br />
    <form method="post">
        <input type="hidden" asp-for="Id"/>
        <label>Rol Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <div asp-validation-summary="ModelOnly"></div>
        <br />
        <button class="btn btn-outline-success">Güncelle</button>
    </form>
</div>

