@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <form method="post">
        <div>
            <label>Eski Şifre</label>
            <input type="password" class="form-control" asp-for="PasswordOld" />
            <span asp-validation-for="PasswordOld"></span>
        </div>
        <div>
            <label>Şifre</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label>Şifre Tekrar</label>
            <input type="password" class="form-control" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <br />

        <div asp-validation-summary="ModelOnly"></div>
        <button class="btn btn-outline-success">Şifre Değiştir</button>
    </form>
</div>